@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
/* font-family: 'Bai Jamjuree', sans-serif; */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   cursor: pointer;
}
body {
   color: hsl(210, 10%, 33%);
   font-size: 18px;
   font-weight: 400;
   font-family: 'Bai Jamjuree', sans-serif;
}

header {
   padding: 80px 70px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: url(images/bg-header-desktop.png);
   background-size: cover;
}

span {
   color: hsl(201, 11%, 66%);
   font-size: 18px;
}

.intro {
   text-align: center;
   padding: 10px 0px;
   width: 40%;
}

h1, h2, h3 {
   padding: 1.5rem 0 .5rem;
}


.guide {
   padding-bottom: 10rem;
}

.action_button {
   padding: 40px 0px 0px 0px;
}

.action_button button {
   padding: 10px 25px;
   background: transparent;
   outline: none;
   border: none;
   color: #ffffff;
   margin: 0 10px;
   cursor: pointer;
   border-radius: 25px;
}

.action_button button.ios {
   background-color: hsl(171, 66%, 44%);
   box-shadow: 2px 2px 8px hsl(171, 66%, 44%), 2px 2px 2px hsl(171, 66%, 44%);
}

.action_button button.mac {
   background-color: hsl(233, 100%, 69%);
   box-shadow: 2px 2px 8px hsl(233, 100%, 69%), 2px 2px 2px hsl(233, 100%, 69%);
}

.one {
   text-align: center;
   width: 45%;
   margin: auto;
}

.one h2 {
   padding: 15px 0;
}

.two {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin: 50px 0;
}

.two img {
   height: 100%;
   width: 80%;
}

.two .features div {
   margin-top: 35px;
   width: 65%;
}

.three {
   display: grid;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.three img {
   height: 100%;
   width: 80%;
   margin: auto;
}

.three div:first-child {
   padding: 70px 0;
   width: 65%;
   margin: auto;
}

.four .functions {
   display: flex;
   justify-content: center;
   text-align: center;
   margin: 100px 0;
}

.four .functions div {
   width: 26%;
   margin: 0 30px;
}

.four .functions div img {
   margin: 40px 0 5px 0;
}

.four .support_companys {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 100px;
   margin: 50px 30px;
}

.five {
   text-align: center;
   width: 46%;
   margin: auto;
}

footer {
   background-color: hsl(201, 16%, 97%);
   display: grid;
   grid-template-columns: 20% 60% 20%;
   align-items: center;
   padding-top: 10px;
   margin-top: 100px;
   height: 100px;
   text-align: center;
}

.foot .logo {
   width: 50px;
   height: 50px;
   margin: 0 70px;
}

.foot ul {
   list-style: none;
   max-width: 600px;
}

ul li {
   display: inline-block;
   margin: 5px 20px;
}

a {
   color: hsl(201, 11%, 50%);
}

.social_links a {
   margin: 12px;
}


@media (max-width: 765px) {
   header {
   background: url('./images/bg-header-mobile.png');
   background-size: cover;
   padding: 40px 10px;
   }

   .intro {
      width: 95%;
   }

   .one {
      width: 80%;
   }

   .two {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   .two .features div {
      width: 76%;
      margin: 60px 12% auto;
      text-align: center;
   }

   .three {
   width: 76%;
   margin: 60px 12% auto;
   text-align: center;
   }

   .three div:first-child {
      width: 75%;
   }

   .four .functions {
      display: grid;
   }

   .four .functions div {
      width: 85%;
   }

   .four .functions img {
      padding-top: 20px;
   }

   .four .support_companys {
      display: grid;
      grid-gap: 4em;
      justify-content: center;
      align-items: center;
   }

   .five {
      width: 84%;
   }

   .action_button button {
      height: 50px;
      width: 90%;
      margin: 10px 0;
   }

   footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      flex-direction: column;
      text-align: center;
      padding: 20px 0;
   }

   ul li {
      display: grid;
      margin: 20px 0;
   }

   .social_links {
      padding-top: 20px;
   }

   .social_links a {
      margin: 18px;
   }
}